<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layouts/bf-layout}">
<head>
    <title>BlueFood - Cadastro de Cliente</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h1>Cadastro de Cliente</h1>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <span class="mensagem-de-sucesso" th:if="${msg != null}" style="margin-bottom: 8px;" th:text="${msg}">
            </span>
        </div>

        <div class="d-flex flex-column align-items-center">
            <form method="post" th:object="${cliente}" style="width: 420px;"
                  th:action="@{isEditMode == true} ? @{/cliente/edita-cadastro} : @{/public/cliente/salva-cadastro}">

                <input type="hidden" id="id" name="id" th:value="*{id}" />

                <div class="form-groups">
                    <label for="nome" class="form-label">Nome: </label>
                    <input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="Nome..."
                           class="form-controls" th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="cpf" class="form-label">CPF: </label>
                    <input type="text" th:field="*{cpf}" id="cpf" name="cpf" placeholder="CPF..."
                           class="form-controls" th:classappend="${#fields.hasErrors('cpf')} ? 'inputError' : ''"
                           onkeydown="return isNumberKey(event);" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="email" class="form-label">E-mail: </label>
                    <input type="text" th:field="*{email}" id="email" name="email" placeholder="E-mail..."
                           class="form-controls" th:classappend="${#fields.hasErrors('email')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="telefone" class="form-label">Telefone: </label>
                    <input type="text" th:field="*{telefone}" id="telefone" name="telefone" placeholder="Telefone..."
                           class="form-controls" th:classappend="${#fields.hasErrors('telefone')} ? 'inputError' : ''"
                           onkeydown="return isNumberKey(event);" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="cep" class="form-label">CEP: </label>
                    <input type="text" th:field="*{cep}" id="cep" name="cep" placeholder="CEP..."
                           class="form-controls" th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : ''"
                           onkeydown="return isNumberKey(event);" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="senha" class="form-label">Senha: </label>
                    <input type="password" th:field="*{senha}" id="senha" name="senha" placeholder="Senha..."
                           class="form-controls" th:classappend="${#fields.hasErrors('senha')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
                    </span>
                </div>

                <div class="d-blocked-buttons" style="margin-top: 16px">
                    <input type="submit" th:value="@{isEditMode == true} ? 'Editar' : 'Cadastrar'">
                </div>
            </form>
        </div>

        <div class="d-flex flex-column align-items-center">
            <div class="d-blocked-buttons" style="margin-top: 16px; width: 420px;">
                <a class="btn" th:href="@{/}">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>
