<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layouts/bf-layout}"
        th:with="link=@{/cliente/inicio}">
    <head>
        <title>BlueFood - Início</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <h1>É hora de rangar!</h1>
                    <div class="d-flex flex-column align-items-center">
                        <form method="post" style="width: 420px; margin-top: 8px;" th:action="@{/cliente/busca}">
                            <div class="inline-form-groups">
                                <input type="search" name="busca" class="form-controls" placeholder="Buscar por...">
                                <input type="submit" value="Procurar">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="categoria-comida-geral">
                    <div class="categoria-comida-opcao" th:each="categoria: ${categorias}">
                        <a href="#">
                            <img th:src="@{/images/categorias/} + ${categoria.imagem}" class="img-categoria-comida"><br>
                            <span th:text="${categoria.nome}">Categoria</span>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <h1>Últimos pedidos</h1>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-blocked-buttons" style="width: 420px; margin-top: 16px;">
                            <input type="button" value="#15124 McBlunalds" onClick="location.href='clientePedido.html';">
                            <input type="button" value="#35464 Blue Pizza" onClick="location.href='clientePedido.html';">
                            <input type="button" value="#38754 Hard Blue" onClick="location.href='clientePedido.html';">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h1>Conta</h1>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-blocked-buttons" style="width: 420px; margin-top: 4px;">
                        <a class="btn" th:href="@{/cliente/edita-cadastro}">Meus Dados</a>
                        <a class="btn" th:href="@{/autenticacao/logout}">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
