<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layouts/bf-layout}">
<head>
    <title>BlueFood - Cadastro de Restaurante</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h1>Cadastro de Restaurante</h1>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center" th:if="${msg != null}">
            <span class="mensagem-de-sucesso" style="margin-bottom: 8px;" th:text="${msg}">
            </span>
        </div>

        <div class="d-flex flex-column align-items-center">
            <form method="post" th:object="${restaurante}" style="width: 420px;" enctype="multipart/form-data"
                  th:action="@{isEditMode == true} ? @{/restaurante/edita-cadastro} : @{/public/restaurante/salva-cadastro}">

                <input type="hidden" id="id" name="id" th:value="*{id}" />

                <div class="form-groups">
                    <label for="nome" class="form-label">Nome: </label>
                    <input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="Nome..."
                           class="form-controls" th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="cnpj" class="form-label">CNPJ: </label>
                    <input type="text" th:field="*{cnpj}" id="cnpj" name="cnpj" placeholder="CNPJ..."
                           class="form-controls" th:classappend="${#fields.hasErrors('cnpj')} ? 'inputError' : ''"
                           onkeydown="return isNumberKey(event);" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="email" class="form-label">E-mail: </label>
                    <input type="text" th:field="*{email}" id="email" name="email" placeholder="E-mail..."
                           class="form-controls" th:classappend="${#fields.hasErrors('email')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="telefone" class="form-label">Telefone: </label>
                    <input type="text" th:field="*{telefone}" id="telefone" name="telefone" placeholder="Telefone..."
                           class="form-controls" th:classappend="${#fields.hasErrors('telefone')} ? 'inputError' : ''"
                           onkeydown="return isNumberKey(event);" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('telefone')}"
                          th:errors="*{telefone}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="taxaEntregaBase" class="form-label">Taxa de Entrega: </label>
                    <input type="text" th:field="*{taxaEntregaBase}" id="taxaEntregaBase" name="taxaEntregaBase"
                           placeholder="Taxa de Entrega..." class="form-controls"
                           th:classappend="${#fields.hasErrors('taxaEntregaBase')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('taxaEntregaBase')}"
                          th:errors="*{taxaEntregaBase}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="tempoEntrega" class="form-label">Taxa de Entrega: </label>
                    <input type="text" th:field="*{tempoEntrega}" id="tempoEntrega" name="tempoEntrega"
                           placeholder="Taxa de Entrega..." class="form-controls"
                           th:classappend="${#fields.hasErrors('tempoEntrega')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('tempoEntrega')}"
                          th:errors="*{tempoEntrega}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="categorias" class="form-label">Categoria de Comida: </label>
                    <select id="categorias" name="categorias" multiple="multiple" style="height: 100px;"
                            class="form-controls" th:field="*{categorias}"
                            th:classappend="${#fields.hasErrors('categorias')} ? 'inputError' : ''">
                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}"
                                th:text="${categoria.nome}">
                        </option>
                    </select>
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('categorias')}"
                          th:errors="*{categorias}">
                    </span>
                </div>

                <div class="form-groups">
                    <label for="arquivoLogotipo" class="form-label">Logotipo: </label>
                    <input type="file" th:field="*{arquivoLogotipo}" id="arquivoLogotipo" name="arquivoLogotipo"
                           placeholder="Selecionar..." class="form-controls"
                           th:classappend="${#fields.hasErrors('arquivoLogotipo')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('arquivoLogotipo')}"
                          th:errors="*{arquivoLogotipo}">
                    </span>
                </div>

                <div class="form-groups" th:if="${isEditMode == false}">
                    <label for="senha" class="form-label">Senha: </label>
                    <input type="password" th:field="*{senha}" id="senha" name="senha" placeholder="Senha..."
                           class="form-controls" th:classappend="${#fields.hasErrors('senha')} ? 'inputError' : ''" />
                    <span class="form-control-error-msg" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
                    </span>
                </div>

                <div class="form-groups" th:if="${isEditMode == true}">
                    <input type="hidden" name="senha" value="*">
                </div>

                <div class="d-blocked-buttons" style="margin-top: 16px">
                    <input type="submit" th:value="@{isEditMode == true} ? 'Editar' : 'Cadastrar'">
                </div>
            </form>
        </div>

        <div class="d-flex flex-column align-items-center">
            <div class="d-blocked-buttons" style="margin-top: 16px; width: 420px;">
                <a class="btn" th:href="@{/}">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>
